# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
**/__pycache__
**/.pytest_cache

# Build directory
/public
.DS_Store

.vscode/
npm-debug.log
.claude


# terraform
# Lock file (optional to ignore)
*.terraform.lock.hcl
tfplan

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Terraform working directory
.terraform/
.terraform/*

# Ignore variable files (often contain secrets)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# secrets
secrets.tfvars

# python
**/dist

# notes
lambda-cold-start-notes.md
netlify_cloudflare_migration_plan.md
**/*.secret.md
